<html layout:decorate="~{global/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container my-3">

  <div class="my-3 border-bottom">
    <div>
      <h4>아이디찾기</h4>
    </div>
  </div>

  <form th:action="@{/member/findUsername}" th:object="${MemberFindIdForm}" method="post">
    <div th:replace="~{/global/form_errors :: formErrorsFragment}"></div>


    <div class="mb-3">
      <label th:for="email" class="form-label">이메일</label>
      <input type="email" th:field="*{email}" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">아이디찾기</button>
  </form>
</div>
</html>