<html layout:decorate="~{global/layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container my-3">
  <body>

  <div class="container my-3">
    <!-- 상품(도서) -->
    <h2>상품(도서) 상세화면</h2>
    <div class="card my-3">
      <div class="card-body">
        <h2 class="border-bottom py-2" th:text="${product.subject}"></h2>
        <h2 class="border-bottom py-2" th:text="${product.price}"></h2>


        <div class="badge bg-light text-dark p-2 text-start">

          <div class="mb-2">
            <span th:if="${product.author?.username != null}" th:text="${product.author?.username}"></span>
          </div>

        </div>

        <div class="my-3">
          <a th:href="@{|/author/product/${product.id}/modify|}" class="btn btn-sm btn-outline-secondary"
             sec:authorize="isAuthenticated()"
             th:if="${product.author != null and #authentication.getPrincipal().getUsername() == product.author.username}"
             th:text="수정"></a>

          <a href="javascript:void(0);" th:data-uri="@{|/author/product/${product.id}/delete|}"
             class="delete btn btn-sm btn-outline-secondary"
             sec:authorize="isAuthenticated()"
             th:if="${product.author != null and #authentication.getPrincipal().getUsername() == product.author.username}"
             th:text="삭제"></a>
        </div>

      </div>
    </div>
  </div>

  <script type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
      element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
          location.href = this.dataset.uri;
        };
      });
    });
  </script>

  </body>
</div>
</html>