<html layout:decorate="~{global/layout}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<div layout:fragment="content" class="container my-3">
    <div class="container my-3">
        <table class="table">
            <thead class="table-dark">
            <tr class="text-center">
                <th>번호</th>
                <th>상품(도서)명</th>
                <th>가격</th>
                <th>작성자</th>
                <th>작성날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" th:each="product, loop : ${productList}">
                <td th:text="${loop.count}"></td>
                <td class="text-start">
                    <a th:href="@{|/usr/product/${product.id}|}" th:text="${product.subject}"></a>
                </td>
                <td><span th:text="${product.price}"></span></td>
                <td><span th:if="${product.author != null}" th:text="${product.author.username}"></span></td>
                <td th:text="${#temporals.format(product.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
                </tr>
            </tbody>
        </table>


        <!--        <a sec:authorize="isAuthenticated() && hasRole('AUTHOR')">-->
        <!--            <a th:href="@{/usr/author/product/write}" class="btn btn-primary">상품(도서) 등록하기</a>-->
        <!--        </a>-->

<!--        TODO AUTHOR인 경우만 보이게 하기-->
        <a sec:authorize="isAuthenticated()">
            <a th:href="@{/usr/author/product/create}" class="btn btn-primary">상품(도서) 등록하기</a>
        </a>


    </div>
</div>
</html>