<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>장바구니 등록</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-write container mx-auto">

        <div class="px-2 pt-4">
            <h1 class="font-bold text-lg">
                <i class="fa-solid fa-book-medical"></i>
                장바구니 등록
            </h1>


            <form th:object="${cartItemDto}" th:action method="POST" class="flex flex-col gap-3">
<!--                  onsubmit="ProductCreate__submit(this); return false;">-->

                <h2 class="card-title flex flex-wrap">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">상품명</span>
                    </label>
                    <i class="fa-solid fa-book-open"></i>
                    <h2 class="font-bold" th:text="${product.subject}"></h2>
                </div>

                <div class="flex">
                    <svg width="20" height="20" th:data-jdenticon-value="${product.author.jdenticon}"></svg>
                    <div th:text="${product.author.name}"></div>
                </div>
                </h2>


                <div class="form-control">
                    <label class="label">
                        <span class="label-text">수량</span>
                    </label>
                    <input autofocus type="number" name="quantity" th:field="*{quantity}" placeholder="수량" class="input input-bordered"
                           maxlength="50">
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">한개당 가격</span>
                    </label>
                    <div th:text="|￦ ${@ut.nf(product.salePrice)}|"></div>
                </div>


                <div class="grid grid-cols-2 mt-2 gap-2">
                    <button type="button" onclick="history.back();" class="btn btn-secondary btn-outline">
                        <i class="fa-solid fa-angle-left"></i>
                        <span class="ml-1">취소</span>
                    </button>
                    <button class="btn btn-primary" type="submit">
                        <i class="fa-solid fa-book-medical"></i>
                        <span class="ml-1">장바구니 담기</span>
                    </button>
                </div>
            </form>



        </div>

    </section>

</main>
</body>
</html>