<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 th:text="${post.subject}"></h1>
<div th:text="${post.content}"></div>

<div class="my-3">
    <a th:href="@{|/post/modify/${post.id}|}" class="btn btn-sm btn-outline-secondary"
       sec:authorize="isAuthenticated()"
       th:text="수정"></a>
<!--       th:if="${post.author != null and #authentication.getPrincipal().getUsername() == post.author.username}"-->

</div>

</body>
</html>