<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<div class="container my-3">
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post, loop : ${postList}">
            <td th:text="${loop.count}"></td>
            <td>
                <a th:href="@{|/post/detail/${post.id}|}" th:text="${post.subject}"></a>
            </td>
            <td th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/post/write}" class="btn btn-primary">글 등록하기</a>
</div>