<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 th:text="${post.subject}"></h1>
<div th:text="${post.content}"></div>

<div class="my-3">
    <a th:href="@{|/post/modify/${post.id}|}" class="btn btn-sm btn-outline-secondary"
       sec:authorize="isAuthenticated()"
       th:text="수정"></a>
<!--       th:if="${post.author != null and #authentication.getPrincipal().getUsername() == post.author.username}"-->


    <a href="javascript:void(0);" th:data-uri="@{|/post/delete/${post.id}|}"
       class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
       th:text="삭제"></a>
<!--    th:if="${post.author != null and #authentication.getPrincipal().getUsername() == post.author.username}"-->

</div>


<script type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
</script>

</body>
</html>