<html layout:decorate="~{global/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container my-3">
<div class="container my-3">
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>번호</th>
            <th>제목</th>
<!--            <th>작성자</th>-->
            <th>작성날짜</th>
            <th>수정날짜</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post, loop : ${postList}">
            <td th:text="${loop.count}"></td>
            <td>
                <a th:href="@{|/post/${post.id}|}" th:text="${post.subject}"></a>
            </td>
            <td th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${#temporals.format(post.updatedAt, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/post/write}" class="btn btn-primary">글 등록하기</a>
</div>
</div>
</html>