<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>주문 등록</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-write container mx-auto">

        <div class="px-2 pt-4">
            <h1 class="font-bold text-lg">
                <i class="fa-solid fa-book-medical"></i>
                주문하기
            </h1>


            <form th:action="@{/order/create}" th:object="${orderForm}" class="flex flex-col gap-3" method="post">

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">제목</span>
                    </label>
                    <input autofocus type="text" name="subject" placeholder="제목" class="input input-bordered"
                           maxlength="50">
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">가격</span>
                    </label>
                    <input autofocus type="number" name="price" placeholder="가격" class="input input-bordered"
                           maxlength="50">
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">태그</span>
                    </label>
                    <input type="text" name="productTagContents" placeholder="#태그1 #태그2 #태그3 ..."
                           class="input input-bordered"
                           maxlength="50">
                </div>

                <div class="grid grid-cols-2 mt-2 gap-2">
                    <button type="button" onclick="history.back();" class="btn btn-secondary btn-outline">
                        <i class="fa-solid fa-angle-left"></i>
                        <span class="ml-1">취소</span>
                    </button>
                    <button class="btn btn-primary" type="submit">
                        <i class="fa-solid fa-book-medical"></i>
                        <span class="ml-1">주문하기</span>
                    </button>
                </div>


            </form>
        </div>

    </section>

</main>
</body>
</html>